@import "compass";
@import 'bootstrap';

#linear-gradient {
  @include background-image(linear-gradient(left top, #ffffff, #e6e6e6)); }





  /* bootstrap button overrides */
  a {
    color: #63bac2; //blueish
    color: #A4061D; //redish
  } 

  select,
  textarea,
  input[type="text"],
  input[type="password"],
  input[type="datetime"],
  input[type="datetime-local"],
  input[type="date"],
  input[type="month"],
  input[type="time"],
  input[type="week"],
  input[type="number"],
  input[type="email"],
  input[type="url"],
  input[type="search"],
  input[type="tel"],
  input[type="color"],
  .uneditable-input {
    color: #626262;
  }



// TACKED ON STYLES - FIXXX!!!!
   body{
    background:url("/img/black-scanlines.jpg");

  }

  .navbar{
    background: url("/img/black-scanlines.jpg");
    border:0;
  }
  .row-wrap{
    background:url('/img/black seperator.png') rgba(127,0,0,0.6) bottom center repeat-x;
    border:0;
  }

  .navbar-inverse .navbar-inner,.well{
    background:url('/img/black seperator.png') rgba(0,0,0,0.1) bottom center repeat-x;
    border:0;
  }

  .row-wrap h1, .row-wrap h2, .row-wrap h3
  {
    color:#e5e5e5;

    text-shadow:none;

  }
  .row-wrap h2{
    font-size:32px;
  }
  h1,h2, h3, h4, h5, h6
  {
   color: white;

 }
 .navbar-inverse .navbar-inner .brand{
  color:#A51C1E;
  text-shadow: 0 -1px 0 rgba(255,255,255, 0.1)
}
.navbar-inverse .brand, .navbar-inverse .nav > li > a
{
  color:#fff;
}
.class-info h3, .course-heading{
  background:none;
  color:#A51C1E;
  border-bottom:1px solid #ccc;
}
.class-info, .breadcrumb, .course-heading
{border:0;
  background:#fff;
  box-shadow:4px 4px rgba(0,0,0,0.6);
  border-radius:4px
}
.class-info p{background:none;color:#111}

textarea, input[type="text"], input[type="password"], input[type="datetime"], input[type="datetime-local"], input[type="date"], input[type="month"], input[type="time"], input[type="week"], input[type="number"], input[type="email"], input[type="url"], input[type="search"], input[type="tel"], input[type="color"], .uneditable-input
{
  background:#141313;
  box-shadow:2px 2px 1px #000000 inset;
  border:1px solid #111;
}

.navbar-inverse .navbar-inner .brand{
  color:#A4061D;
}

body{
  background: url("../img/office.png") repeat scroll 0 0 transparent;
  font-family:verdana;
  color:#e6e6e6;
  background: url("../img/wallpaper-868679.jpg");
  background-size:cover;
  
}

.navbar{
  background: #202020;
  border-bottom:1px solid rgba(0,0,0,0.5);
}
.navbar-inverse{
  color:#999;
}
.navbar-inverse .brand, .navbar-inverse .nav > li > a
{
  color: #999;
}

.row-wrap{
  background: rgba(140, 0, 26, 0.4);
  border-bottom:1px solid rgba(0,0,0,0.5);
  box-shadow: 0px 4px 8px rgba(0,0,0,0.4);

  background: url("/img/wallpaper-439269.jpg") repeat-y scroll right top #023850;
  background-size:none;
}

.row-wrap h1, .row-wrap h2{
  line-height: 28px;
}
.row-wrap h1
{
  margin-top:20px;
  font-size: 40px;
}


.row-wrap h2 {
  font-size: 20px;
}

.class-info, .breadcrumb, .course-heading,.well, .form-horizontal {
  background: rgba(0, 0, 0, 0.2);
  background:#202020;
  border: 1px solid rgba(0, 0, 0, 0.5);
  box-shadow:0px 4px 8px rgba(0,0,0,0.4);
}
.class-info p{
  color:#999
}

.pagination ul > li > a, .pagination ul > li > span, .breadcrumb, .nav-tabs.nav-stacked li a
{
    background: rgba(0, 0, 0, 0.2);
  border: 1px solid rgba(0, 0, 0, 0.5);
}
.nav-tabs.nav-stacked > li > a:hover{
  background: rgba(140,0,26,0.4);
  border-color:rgba(0, 0, 0, 0.5);
}
.navbar-inverse .navbar-inner{
  background:none;
}

.class-info{margin-bottom:30px;}
.class-info h3 {
  font-size: 18px;
  line-height: 40px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.5);
}

.alert-danger, .alert-error {
  background-color: #ff0034;
  border-color: #46000d;
}
.alert-danger,
.alert-error,
.alert-danger .alert-heading,
.alert-error .alert-heading {
  color: #46000d;
  text-shadow: 0 1px 0 rgba(0,0,0, 0.5);
  text-shadow:none;
}

form legend
{
  color:#A4061D;
  border-bottom: 1px solid rgba(0, 0, 0, 0.5);
}

form .input-append .add-on, form .input-prepend .add-on{
  background:#141313;
  border: 1px solid rgba(0, 0, 0, 0.5);
  text-shadow:none;;
}
textarea, input[type="text"], input[type="password"], input[type="datetime"], input[type="datetime-local"], input[type="date"], input[type="month"], input[type="time"], input[type="week"], input[type="number"], input[type="email"], input[type="url"], input[type="search"], input[type="tel"], input[type="color"], .uneditable-input
{
  border: 1px solid rgba(0, 0, 0, 0.5);
}

.pagination ul > .active > a, .pagination ul > .active > span, .pagination ul > li > a:hover, .pagination ul > li > a:focus, .pagination ul > .active > a, .pagination ul > .active > span{
background: rgba(140,0,26,0.4);
}
.pagination ul > .disabled > span, .pagination ul > .disabled > a, .pagination ul > .disabled > a:hover, .pagination ul > .disabled > a:focus
{
  background:#202020;
}
.table-bordered, .table-bordered th, .table-bordered td{
  border-color:rgba(0,0,0,0.5);
}
.table > thead > tr > th
{
  background:rgba(140,0,26,0.4);
}
.table-hover tbody tr:hover > td, .table-hover tbody tr:hover > th
{
  background:rgba(140,0,26,0.4);
}
